<section class="section">
    <div class="box cta">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a href="/cv"><span class="tag is-link is-large">CV</span></a>
          </div>
          <div class="control">
            <a href="/recomendacion"><span class="tag is-link is-large">Carta de recomendacion</span></a>
          </div>
        </div>
      </div>
    </div>
</section>

<h1>Home component</h1>