<section class="section">
    <div class="box cta">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a href="/cv"><span class="tag is-link is-large">CV</span></a>
          </div>
          <div class="control">
            <a href="/recomendacion"><span class="tag is-link is-large">Carta de recomendacion</span></a>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <img src="https://cdn0.iconfinder.com/data/icons/thin-files-documents/57/thin-081_file_document_cv_curriculum_vitae-512.png" alt="" width="250" height="250">        
        <h4 class="title">Tu brillante imagen profesional</h4>
        <p>Currículums increíbles hechos a medida. ¡Potencia tu búsqueda de empleo con solo unos pocos clics!</p>        
    </div>
    <div class="box has-text-centered">
        <button class="button is-success">
            <span class="icon is-small">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <span>Nuevo curiculum</span>
        </button>
    </div>
</section>
